* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f6f6;
    height: 100vh;
}

h1 {
    font-size: 24px;
}

p , a, li{
    font-size: 16px;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 4em;
    margin-bottom: 4em;
}

/* Header Start*/

header {
    background: rgb(46, 46, 46);
    height: 66px;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 8px;
    font-family: 'Lora', serif;
    font-size: 42px;
}

header .logo-text span{
    color: rgb(236, 148, 32);
} 

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    height: inherit;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a:hover{
    background-color: rgb(61, 61, 61);
    height: 66px;
    transition: 0.3s;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background-color: white;
    color: gray;
}

header ul li ul li a.logout{
    color: red;
}

header ul li ul li a:hover {
    background-color: gainsboro;
    transition: 0.3s;
    height: auto;
}

header .burger a{
    height: auto;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header .menu-toggle{
    display: none;
}

header * {
    color: white;
}

/* Header End */

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    background-color: #ececec;
    padding-top: 4em;
    padding-bottom: 4em;
}

.hero h1 {
    color:rgb(46, 46, 46);
    font-size: 48px;
}

.hero form input {
    height: 40px;
    width: 300px;
}

.hero form button {
    background:rgb(61, 61, 61);
    color: #f6f6f6;
    padding: 10px;
    border: none;
}

/* Hero end */

/* Home */

.home-article {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 4em;
}

.category {
    gap: 6em;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
}

.selected {
    border: 2px solid rgb(49, 49, 49);
}

.category-block {
    color: rgb(46, 46, 46);
    border: 2px solid rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    padding: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 17em;
    height: 80px;
    transition: 0.2s;
}

.category-block h1 {
    font-size: 20px;
}

.category-block:hover {
    border: 2px solid rgb(49, 49, 49);
    transition: 0.2s;
}

.category-icon i {
    font-size: 32px;
}

/* Home end */

/* Main Start */


.top {
    background-color: rgb(46, 46, 46);
    color: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
}

.top i {
    margin: auto 0;
    font-size: 24px;
}

.main {
    width: 80%;
}

.blog-box {
    display: flex;
    flex-direction: row;
    gap: 2em;
    border-bottom: 1px solid rgb(199, 199, 199);
    transition: 0.2s;
}

.blog-box:hover {
    background-color: rgb(235, 235, 235);
    transition: 0.2s;
}

.blog-box img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.blog-box-bottom {
    display: flex;
    flex-direction: row;
}

.blog-box-date {
    color: #616161;
}

.blog-box-bottom i, p {
    padding: 0.2em;
}

.blog-box-username {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 0.2em 0.4em;
    border-radius: 5px;
}


/* Main end */

/* Create Blog Form */

.post-form{
    max-width: 80%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

label {
    font-weight: bold;
}

.post-form input[type=text]{
    width: 25%;
    height: 40px;
}

.post-form .desc{
    width: 25%;
    height: 10em;
}

.post-form button {
    border: none;
    padding: 15px 20px;
}


.post-form button:hover {
    cursor: pointer;
}

select{
    width: 70px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

.maincontent{
    width: 80%;
    height: 40em;
    margin-top: 10px;
}

input[type=submit]{
    width: 50px;
    margin-top: 10px;
}

#post-header{
    padding-left: 2em;
}

/* Create Blog Form End*/

/*Index Start */

.acc-forms {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 4em;
}

.acc-forms form {
    display: flex;
    flex-direction: column;
}

.acc-forms form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.acc-forms form button {
    background: rgb(46, 46, 46);
    color: #f6f6f6;
    padding: 10px;
    margin-top: 10px;
    border: none;
    max-width: inherit;
    margin-bottom: 3px;
}

.acc-forms form button:hover {
    background: rgb(61, 61, 61);
}

/*Index End */

/* Post view */

.wall-block-title {
    margin: auto;
}

.wall-block-title h1 {
    font-size: 35px;
    margin-bottom: 0.5em;
}

.wall-block-header {
    display: flex;
    border-bottom: 1px solid #c2c2c2;
}

.post-view {
    max-width: 60%;
    margin: 0 auto;
}

.original-poster-img {
    margin: auto 0;
}

.original-poster-img img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.original-poster-info {
    margin: auto 0;
}

.original-poster-info p {
    font-weight: bold;
    font-size: 24px;
}

.wall-content {
    display: flex;
    flex-direction: column;
}

.wall-creation {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
}

.wall-creation i {
    margin: auto 0;
}

.wall-img img {
    width: 100%;
    height: 500px;
}

/* WALL REPLIES */

.reply-card {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.reply-card-header {
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.reply-userprofile {
    display: flex;
    flex-direction: row;
}

.reply-userprofile p {
    font-weight: bold;
    margin: auto auto auto 10px;
}

.reply-userprofile img {
    height: 100px;
    width: 100px;
}

.add-comment {
    background-color: #dadada;
    padding: 15px;
}

.add-comment form {
    display: flex;
    flex-direction: row;
}

.add-comment form textarea {
    height: 200px;
    width: 100em;
    resize: none;
}

.add-comment-button {
    margin: auto 0 0 10px;
}

.add-comment form button {
    background: rgb(46, 46, 46);
    color: #f6f6f6;
    padding: 10px;
    border: none;
    margin-bottom: 3px;
    width: 14em;
}

.add-comment form button:hover {
    background: rgb(65, 65, 65);
    cursor: pointer;
}

/* Post view end */

/* User profile START */

.user-card {
    background-color: #2e2e2e;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    height: 40em;
    width: 30em;
    gap: 2em;
    padding: 1.5em;
    margin: 6em auto 0 auto; 
}

.user-icon {
    margin: 0 auto;
}

.user-icon form input {
    color: white;
}

.user-icon form button {
    margin-top: 10px;
    border: none;
    background-color: rgb(236, 148, 32);
    padding: 10px;
    color: #f6f6f6
}

.user-icon img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.user-info {
    color: #f6f6f6;
}

/* User profile END*/

/* FOOTER */

footer {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

/* Media Queries */

@media only screen and (max-width: 1726px) {

    .main-section{
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .filtered-section{
        max-width: 80%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 400px;
    }

}

@media only screen and (max-width: 1314px) {

    .main-section{
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .filtered-section{
        max-width: 80%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 230px;
    }

    .card-view {
        max-width: 80%;
    }

}

@media only screen and (max-width: 1280px) {

    .filtered-section{
        max-width: 80%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 250px;
    }

}

@media only screen and (max-width: 750px) {

    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background-color: #01676b;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }

    header ul li{
        width: 100%;
        background-color: #343a40;
    }

    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a{
        padding: 10px;
        background-color: #343a40;
        color: white;
        padding-left: 50px;
    }
    
    header ul li ul li a.logout{
        color: red;
    }

    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    header .logo {
        margin-left: .5em;
    }

    aside {
        display: none;
    }

    .main-section, .filtered-section {
        max-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .main-section form input{
        width: 280px;
        height: 30px;
    }

    .links{
        display: none;
    }

    .footer-form{
        display: flex;
        flex-direction: column;
    }
    
    .footer-form input{
        height: 40px;
    }
    
    .footer-form textarea{
        height: 100px;
    }
    
    button{
        width: 70px;
        padding: 5px;
    }

    img {
        width: 350px;
        height: 300px;
    }

    /* Index Form */

    .acc-forms button {
        margin: 0 auto;
    }
    
}